.MypageContents
  .MypageContents__side
    .MypageContents__side--nav
      %ul.MypageContents__side--nav--list
        %li.MypageContents__side--nav--list--item
          = link_to "商品一覧", items_index_path
        %h3.Mypage-nav-head 設定
      %ul.MypageContents__side--nav--list
        %li.MypageContents__side--nav--list--item
          = link_to "ログアウト", root_path
        %li.MypageContents__side--nav--list--item
          = link_to "支払い方法", root_path
  .MypageContents__user
    %section.MypageContents__user--icon
      %img(src="//static.mercdn.net/images/member_photo_noimage_thumb.png" alt="60" height="60")
      %h2.name
        = current_user.nickname 
        %pさんのマイページ