* {
  box-sizing: border-box;
}

.MypageContents__container {
  float: right;
  width: 700px;
  background-color: #f8f8f8;
  &--inner {
    padding: 64px;
    &--content {
      max-width: 320px;
      margin: 0 auto;
      .logout-button {  
        background-color: #3CCACE;
        border: 1px solid #3CCACE;
        color: #fff;
        display: block;
        width: 100%;
        line-height: 48px;
        text-align: center;
        text-decoration: none;
      }
    }
  } 
}