.ExhibitionContainer
  %header.LogoContainer
    = link_to "#" do
      = image_tag 'material/logo/logo.png', height: '49', width: '185'
    %h1 投稿編集
  .FormContainer
    = render partial: 'form', locals: { item: @item }