* {
  box-sizing: border-box;
}
.DetailsContents{
  background-color: #f8f8f8;
  min-height: 100vh;
  &__header{
    width: 100%;
    border-top: 1px solid #eeeeee;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
    position: relative;
    background-color: #f8f8f8;
    ul{
      width: 100%;
      max-width: 1040px;
      font-size: 14px;
      margin: 0 auto;
      padding: 17px 0 16px;
       ol,li{
        padding: 0 10px 0 0;
        float: left;
        a{
          text-decoration: none;
          color: #333333;
        }
      }
    }
  }
  .Main{
    
    background: #f8f8f8;
    .showMain{
      padding: 40px;
      margin: 0 auto;
      .contentRight{
        width: 700px;
        margin: 0 auto;
        .topContent{
          
          .ItemBox{
            background-color: #ffffff;
            padding: 24px 40px 40px;
            .ItemBox__name{
            }
            .ItemBox__body{
            }
            .ItemBox__price{
              .itemBox__price-detail{
              }
            }
            .itemDetail{
            }
            .ItemBox__table{
            }


            .ItemBox__optionalArea{
              display: flex;
              justify-content: space-between;
              ol,ul{
                margin-block-start: 1em;
                margin-inline-end: 1em;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
                padding-inline-start: 40px;
                .optionalBtn.likeBtn{
                  margin-right: auto;
                  padding: 6px 10px;
                  border-radius: 40px;
                  color: #3ccace;
                  border: 1px solid #ffb340;
                  .fas.fa-star{

                  }
                }
              }
              .optional{
                margin-block-start: 1em;
                margin-inline-end: 1em;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
                padding-inline-start: 40px;
                .optionalBtn{
                  font-size: 14px;
                  li,a{
                    padding: 6px 10px;
                    display: inline-block;
                    border-radius: 4px;
                    color: #333;
                    border: 1px solid #333;
                    text-decoration: none;
                    .fas.fa-flag{
                    }
                  }
                }
              }
            }
          }
        }
        .links{
          margin: 0;
          padding: 0;
          
          li{
            float: left;
            a{
              text-decoration: none;
              color: #3ccace;
              .fa{
                display: inline-block;
                font-size: inherit;
                text-rendering: auto;
              }
            }
          }
          li:last-child{
            float: right;
          }
        }
        .DetailsInner__RelatedItems{
          margin: 0;
          padding: 0;
          a{
            display: block;
            margin: 24px 0 8px;
            color: #3ccace;
            text-decoration: none;
            font-weight: bold;
            font-size: 22px;
            position: relative;
          }
        }
      }
    }
  }
  .appBanner{
    background-image: url(material/pict/bg-appBanner-pict.jpg);
    padding: 100px 40px;
    position: relative;
    background-size: cover;
    background-position: center;
  }
}